### 1. Importing

In [1]:
import pandas as pd
import altair as alt
import numpy as np

In [2]:
xls = pd.ExcelFile('residential-nonresidential-fire-loss-estimates-2003-2021_fixed.xlsx')
prop_type_totals = pd.read_excel(xls, 'Res Bldg Prop Typ Est 2003-2021')
fire_causes = pd.read_excel(xls, 'Res Bldg Fire Est by Cause')
death_by_cause = pd.read_excel(xls, 'Res Bld Fire Death Est by Cause')
injury_by_cause = pd.read_excel(xls, 'Res Bld Fire Inj Est by Cause')
cost_by_cause = pd.read_excel(xls, 'Res Bld Fire Dollr Est by Cause')

I got this data set from the U.S. Fire Administration. I attached the original sheets (https://docs.google.com/spreadsheets/d/1ftqlXHDH5-mazBV-eiaq2O1GhhUa88bH/edit?usp=drive_link&ouid=109691480649921496130&rtpof=true&sd=true) and the cleaned up version (https://docs.google.com/spreadsheets/d/1RyRbEZeVrwTApUokM6hvDUTfQj0E3xvT/edit?usp=drive_link&ouid=109691480649921496130&rtpof=true&sd=true) that I used for this notebook on Google Drive. I was interested in fire coverage a lot this summer so I decided to explore what data sets the Fire Administration had on their site and found this one that documented what statistics that had on fires, especially regarding property fires.

### 2. Viewing the Data

So this first data frame is showing the overall totals of how many fires there were and the impacts of those fires, such as death, injuries and financial cost for 1 & 2 Family Homes as well as Multifamily Homes. It also shows the overall total as well. The next four data frames are expanding on those totals and breaking it down by the causes of the fires.

In [3]:
prop_type_totals.tail()

,Years,Overall Res Building Fires,1 & 2 Family Fires,Multifamily Fires,Overall Deaths,1 & 2 Family Deaths,Multifamily Deaths,Overall Injuries,1 & 2 Family Injuries,Multifamily Injuries,Overall Dollars Los,1 & 2 Family Dollars Loss,Multifamily Dollars Loss
14,2017,371500,233800,109600,2695,2200,385,10825,6650,3800,8619200000,6081200000,2191400000
15,2018,379600,237000,110200,2790,2220,440,11525,7175,3875,8842700000,6596300000,1811600000
16,2019,354400,220600,100300,2830,2240,375,12625,7950,3950,8338100000,6321400000,1454900000
17,2020,372000,227300,107800,2615,2095,345,11825,7400,3725,9008700000,6539000000,1804900000
18,2021,353500,215700,100500,2840,2235,405,11400,7300,3500,8855900000,6452300000,1808400000

In [4]:
fire_causes

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation,Total Residential*
0,2003,17400,17400,3200,3500,2800,700,8900,5600,2700,...,16100,12200,3300,22000,17100,4000,2200,1800,400,381200
1,2004,17500,17500,3000,3100,2400,600,9000,5600,2800,...,16000,12000,3300,22300,17400,4000,2400,1900,400,389800
2,2005,18000,18000,3300,2900,2300,600,8700,5400,2600,...,15100,11100,3400,22500,17300,4100,2900,2200,500,376500
3,2006,18100,18100,3200,3200,2500,700,9700,6000,3100,...,14700,10800,3400,23400,18200,4100,3300,2500,600,392700
4,2007,19000,19000,3400,3100,2400,600,8900,5700,2700,...,15200,11400,3100,25400,20200,4000,3800,2900,700,390300
5,2008,18300,18300,3300,2700,2200,500,8300,5300,2500,...,13700,10400,2700,24500,19800,3900,3800,3100,600,378200
6,2009,16200,16200,2600,2100,1600,400,7000,4500,2100,...,12300,9300,2500,23100,18800,3500,3400,2700,500,356200
7,2010,16000,16000,2700,2200,1700,400,7600,4900,2300,...,13300,10000,2800,24600,19900,3800,3700,3100,500,362100
8,2011,17400,17400,2800,2300,1800,500,7800,4900,2500,...,13300,10100,2800,24900,20000,3900,3800,3100,600,364500
9,2012,18800,18800,2900,2300,1700,500,9600,6100,3000,...,2900,2400,400,21100,17400,2800,4400,3600,700,374000
10,2013,17100,17100,2900,2000,1500,400,8000,5000,2500,...,3000,2500,300,21000,17300,2600,4300,3600,600,380300
11,2014,15800,15800,2400,1700,1300,300,7600,4700,2400,...,3500,2900,400,22000,18100,2700,4500,3600,700,379500
12,2015,15600,15600,2300,1600,1200,300,8000,5100,2500,...,6100,4900,1000,24500,20000,3200,4800,3800,700,380900
13,2016,15200,15200,2200,1400,1000,300,7700,5000,2300,...,6600,5100,1100,24200,19700,3200,5200,4300,700,364300
14,2017,15700,15700,2200,1400,1100,300,7800,5100,2300,...,7900,5900,1600,26400,21200,3700,5000,4100,700,371500
15,2018,15900,15900,2200,1300,1000,300,7700,5000,2200,...,9000,6600,1900,28600,23100,3800,5000,4100,700,379600
16,2019,15800,15800,2200,1200,900,200,7000,4600,1900,...,8400,6200,1700,27200,21700,3600,4700,3800,600,354400
17,2020,18200,18200,2500,1300,1000,300,7900,5000,2200,...,7800,5500,1600,27800,21600,4000,4400,3600,600,372000
18,2021,18200,18200,2600,1400,1000,300,7800,5000,2100,...,7800,5600,1500,29800,23100,4100,5200,4100,700,353500

In [5]:
death_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,265,220,40,130,130,<3,500,320,120,...,<3,100,95,5,440,365,55,215,205,5
1,2004,255,220,35,60,45,5,505,380,95,...,<3,155,105,25,430,350,60,195,170,25
2,2005,350,280,55,55,30,20,510,350,120,...,15,120,90,30,410,370,30,205,160,40
3,2006,250,175,50,80,75,10,485,360,90,...,10,90,65,20,365,310,35,165,120,35
4,2007,310,265,35,55,50,<3,470,340,100,...,<3,120,115,5,380,325,50,240,205,35
5,2008,310,245,55,45,40,<3,390,275,90,...,<3,90,70,10,430,370,50,265,220,40
6,2009,265,210,25,45,35,10,360,275,70,...,<3,115,100,5,410,320,75,240,205,20
7,2010,260,215,40,60,50,10,350,240,85,...,5,125,120,10,435,385,45,230,200,25
8,2011,240,200,20,30,20,5,305,230,65,...,<3,90,85,5,360,290,55,350,300,25
9,2012,320,285,40,45,25,15,330,240,80,...,<3,40,15,15,295,245,35,285,245,35
10,2013,320,240,40,50,35,5,320,240,70,...,10,45,35,5,465,395,45,275,255,25
11,2014,235,205,20,20,20,<3,325,225,80,...,5,30,25,<3,450,405,35,305,245,40
12,2015,290,230,55,25,25,<3,320,220,85,...,5,50,50,<3,440,365,60,365,300,50
13,2016,260,220,35,35,35,<3,375,285,85,...,5,45,45,5,480,435,25,405,325,55
14,2017,370,305,55,35,35,<3,300,205,75,...,5,75,60,10,435,380,30,355,295,60
15,2018,255,200,45,20,5,15,390,285,80,...,20,65,55,10,545,470,45,375,320,45
16,2019,265,220,25,20,20,<3,320,220,65,...,5,75,60,10,585,510,35,470,405,50
17,2020,185,150,25,10,10,<3,330,240,75,...,<3,85,60,10,500,410,60,505,445,40
18,2021,275,185,55,10,5,5,275,205,55,...,10,95,55,30,575,465,60,470,400,55

In [6]:
injury_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,875,570,255,500,405,95,1025,655,305,...,15,900,585,295,1550,1150,340,275,225,45
1,2004,850,625,215,500,345,135,1050,600,355,...,10,1150,815,270,1500,1070,390,325,240,75
2,2005,925,615,280,325,200,115,1025,505,405,...,20,1050,715,295,1500,1075,365,400,275,100
3,2006,750,440,255,425,315,110,1150,620,425,...,10,900,560,310,1350,930,355,375,255,95
4,2007,950,580,310,400,330,80,950,590,315,...,5,825,545,265,1500,1110,360,425,290,120
5,2008,825,505,300,400,320,45,950,580,335,...,20,875,565,280,1550,1040,440,375,290,90
6,2009,775,455,280,300,215,95,900,515,340,...,20,900,585,285,1525,1085,395,450,290,145
7,2010,750,480,225,425,335,100,950,605,300,...,10,975,655,280,1525,1030,430,475,265,195
8,2011,850,555,255,350,275,70,1050,610,380,...,15,950,615,305,1625,1145,425,425,285,110
9,2012,775,495,260,325,235,85,800,435,335,...,20,125,100,10,1050,680,335,500,370,120
10,2013,725,425,275,250,210,45,850,510,280,...,15,125,105,15,1075,790,255,450,355,65
11,2014,625,435,170,200,145,40,775,470,260,...,15,150,120,15,1075,760,280,375,235,130
12,2015,650,410,185,150,100,45,675,415,225,...,25,250,180,65,1350,920,385,475,350,115
13,2016,625,420,170,175,120,30,750,430,260,...,10,375,245,110,1325,930,340,500,370,95
14,2017,700,395,260,150,100,50,700,430,245,...,5,475,315,155,1300,910,320,500,315,160
15,2018,700,445,235,175,115,65,700,425,260,...,25,550,305,230,1450,1075,345,550,350,170
16,2019,750,460,215,175,115,65,750,505,190,...,15,625,405,200,1650,1235,360,550,370,150
17,2020,725,500,160,175,120,50,725,455,215,...,40,500,320,175,1800,1185,530,650,445,130
18,2021,700,450,190,150,140,10,750,490,220,...,15,400,285,105,1700,1250,355,575,410,160

In [7]:
cost_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,761200000,542300000,153100000,180200000,142600000,34200000,363700000,243000000,103000000,...,116500000,543000000,429800000,96300000,1140600000,962900000,138200000,252100000,220000000,26400000
1,2004,716600000,554900000,125500000,154600000,106900000,43700000,375800000,228500000,133500000,...,110100000,469600000,380800000,72100000,1114600000,848800000,209000000,293600000,214100000,74800000
2,2005,784600000,527700000,212000000,175700000,122100000,48700000,423600000,228900000,158400000,...,104100000,553900000,433000000,82800000,1145900000,967600000,148800000,451100000,313100000,101700000
3,2006,719900000,527100000,104200000,152300000,108400000,40500000,434000000,239200000,176100000,...,76700000,504800000,389200000,96600000,1204100000,963600000,194200000,405000000,293100000,95100000
4,2007,630800000,433400000,171000000,121900000,81900000,37400000,345800000,202000000,132000000,...,109700000,440600000,339300000,68400000,1130600000,930200000,144400000,357400000,233800000,110400000
5,2008,862600000,654200000,187000000,145600000,103400000,40700000,415900000,237800000,154900000,...,163700000,558700000,453700000,95700000,1427700000,1151500000,244400000,399100000,325000000,68800000
6,2009,742000000,523000000,127100000,103700000,80900000,21700000,443000000,243100000,170800000,...,186300000,551500000,443200000,88600000,1575200000,1287600000,236600000,475200000,382700000,65900000
7,2010,607600000,471000000,110100000,101000000,77100000,20000000,355600000,215200000,125600000,...,68300000,580800000,479200000,79400000,1410100000,1158100000,189300000,425800000,339400000,74900000
8,2011,580100000,447300000,111500000,104700000,79300000,21800000,357200000,187000000,156100000,...,131700000,505900000,386600000,103700000,1299000000,1036500000,159800000,437800000,341000000,79000000
9,2012,628800000,450600000,104200000,100300000,71600000,27900000,410800000,238700000,159300000,...,75200000,164200000,136400000,10000000,1321000000,1066900000,195300000,430400000,330600000,90900000
10,2013,550000000,360100000,142500000,81300000,61300000,17000000,332100000,176400000,128400000,...,353300000,151800000,129200000,14800000,1210800000,1030300000,139500000,508500000,437800000,59400000
11,2014,442300000,335900000,87600000,60000000,45300000,13200000,263200000,162700000,97700000,...,120600000,189300000,166400000,13800000,1256900000,972700000,211500000,411900000,284300000,109500000
12,2015,449400000,331500000,91800000,58400000,45000000,11700000,292400000,167000000,112800000,...,87400000,293400000,247100000,36600000,1421700000,1140000000,211100000,448800000,325300000,96200000
13,2016,457600000,334200000,94100000,50500000,37900000,10800000,315600000,185600000,118200000,...,115800000,252000000,205200000,32700000,1324300000,1093300000,166400000,499600000,349000000,113800000
14,2017,816500000,351700000,450800000,54500000,38900000,14200000,335000000,203300000,120900000,...,291800000,354100000,256800000,81100000,1527400000,1247500000,210600000,507000000,362100000,119900000
15,2018,600500000,358600000,190500000,53900000,34700000,16200000,344200000,197300000,128800000,...,70500000,394800000,293500000,76800000,1705500000,1361200000,261000000,518100000,383800000,107400000
16,2019,466800000,339000000,89700000,63400000,45900000,9100000,333200000,219100000,99600000,...,172300000,444300000,354400000,64500000,1665000000,1335700000,236800000,476600000,326000000,85400000
17,2020,945100000,356400000,268700000,61000000,46600000,12600000,386300000,211800000,150600000,...,120700000,392900000,298900000,77200000,1754500000,1452800000,236600000,447900000,327100000,103900000
18,2021,546300000,337800000,149400000,36900000,26500000,9000000,361500000,196100000,149300000,...,102100000,435800000,329000000,60700000,1943300000,1498400000,317600000,531300000,355200000,130900000

### 3. Changing the dtypes of years into a datetime

So I used .info() for all my dataframes to check that their dtypes are what I wanted them to be. Most of the dtypes were fine, yhey were an integer. But I wanted to change the year dtype into a datetime one.

In [8]:
prop_type_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Years                       19 non-null     int64
 1   Overall Res Building Fires  19 non-null     int64
 2   1 & 2 Family Fires          19 non-null     int64
 3   Multifamily Fires           19 non-null     int64
 4   Overall Deaths              19 non-null     int64
 5   1 & 2 Family Deaths         19 non-null     int64
 6   Multifamily Deaths          19 non-null     int64
 7   Overall Injuries            19 non-null     int64
 8   1 & 2 Family Injuries       19 non-null     int64
 9   Multifamily Injuries        19 non-null     int64
 10  Overall Dollars Los         19 non-null     int64
 11  1 & 2 Family Dollars Loss   19 non-null     int64
 12  Multifamily Dollars Loss    19 non-null     int64
dtypes: int64(13)
memory usage: 2.1 KB

In [9]:
prop_type_totals['Years'] = pd.to_datetime(prop_type_totals['Years'], format='%Y')

In [10]:
prop_type_totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Years                       19 non-null     datetime64[ns]
 1   Overall Res Building Fires  19 non-null     int64
 2   1 & 2 Family Fires          19 non-null     int64
 3   Multifamily Fires           19 non-null     int64
 4   Overall Deaths              19 non-null     int64
 5   1 & 2 Family Deaths         19 non-null     int64
 6   Multifamily Deaths          19 non-null     int64
 7   Overall Injuries            19 non-null     int64
 8   1 & 2 Family Injuries       19 non-null     int64
 9   Multifamily Injuries        19 non-null     int64
 10  Overall Dollars Los         19 non-null     int64
 11  1 & 2 Family Dollars Loss   19 non-null     int64
 12  Multifamily Dollars Loss    19 non-null     int64
dtypes: datetime64[ns](1), int64(12)
memory usage: 2.1 KB

In [11]:
prop_type_totals

,Years,Overall Res Building Fires,1 & 2 Family Fires,Multifamily Fires,Overall Deaths,1 & 2 Family Deaths,Multifamily Deaths,Overall Injuries,1 & 2 Family Injuries,Multifamily Injuries,Overall Dollars Los,1 & 2 Family Dollars Loss,Multifamily Dollars Loss
0,2003-01-01,381200,249400,108800,3000,2480,380,13425,9200,3650,8376800000,6603600000,1362200000
1,2004-01-01,389800,254600,111700,3050,2485,425,13650,9275,3775,8097100000,6227800000,1509500000
2,2005-01-01,376500,245900,107000,2895,2225,510,13375,8950,3800,9013900000,6929100000,1654400000
3,2006-01-01,392700,253800,113900,2490,1925,445,12550,8225,3725,8932300000,6960600000,1570900000
4,2007-01-01,390300,260700,104600,2765,2285,405,13525,9125,3875,9353500000,7520600000,1445700000
5,2008-01-01,378200,250400,104100,2650,2160,395,13100,8400,4200,10095500000,7750500000,1693700000
6,2009-01-01,356200,234100,100200,2480,1965,375,12600,8125,4050,9169400000,7199300000,1560100000
7,2010-01-01,362100,236900,102700,2555,2025,425,13275,8525,4250,8259900000,6567800000,1359600000
8,2011-01-01,364500,237700,102800,2450,1945,390,13900,8925,4450,8012500000,6183300000,1478100000
9,2012-01-01,374000,242700,106000,2385,1885,400,13050,8300,4325,8383000000,6529600000,1462900000
10,2013-01-01,380300,244700,109300,2755,2250,390,12450,7975,3975,7997800000,6040200000,1537800000
11,2014-01-01,379500,244000,108700,2765,2195,440,12075,7550,4100,7898200000,5953500000,1536100000
12,2015-01-01,380900,242300,111100,2565,2085,390,11475,7200,3825,8116300000,6050200000,1630100000
13,2016-01-01,364300,231600,105800,2775,2290,360,11025,6925,3625,8266200000,6496000000,1371400000
14,2017-01-01,371500,233800,109600,2695,2200,385,10825,6650,3800,8619200000,6081200000,2191400000
15,2018-01-01,379600,237000,110200,2790,2220,440,11525,7175,3875,8842700000,6596300000,1811600000
16,2019-01-01,354400,220600,100300,2830,2240,375,12625,7950,3950,8338100000,6321400000,1454900000
17,2020-01-01,372000,227300,107800,2615,2095,345,11825,7400,3725,9008700000,6539000000,1804900000
18,2021-01-01,353500,215700,100500,2840,2235,405,11400,7300,3500,8855900000,6452300000,1808400000

In [12]:
fire_causes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 47 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     int64
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
 46  Total Residential*                       19 non-null     int64
dtypes: int64(47)
memory usage: 7.1 KB

In [13]:
fire_causes['Years'] = pd.to_datetime(fire_causes['Years'], format='%Y')

In [14]:
fire_causes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 47 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
 46  Total Residential*                       19 non-null     int64
dtypes: datetime64[ns](1), int64(46)
memory usage: 7.1 KB

In [15]:
death_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     int64
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     object
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     object
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     object
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     object
 34  Overall Exposure                         19 non-null     object
 35  1 & 2 Fam Explosure                      19 non-null     object
 36  Multi Fam Exposure                       19 non-null     object
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     object
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: int64(38), object(8)
memory usage: 7.0+ KB

In [16]:
death_by_cause['Years'] = pd.to_datetime(death_by_cause['Years'], format='%Y')

In [17]:
death_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     object
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     object
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     object
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     object
 34  Overall Exposure                         19 non-null     object
 35  1 & 2 Fam Explosure                      19 non-null     object
 36  Multi Fam Exposure                       19 non-null     object
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     object
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), int64(37), object(8)
memory usage: 7.0+ KB

In [18]:
injury_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     int64
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: int64(46)
memory usage: 7.0 KB

In [19]:
injury_by_cause['Years'] = pd.to_datetime(injury_by_cause['Years'], format='%Y')

In [20]:
injury_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), int64(45)
memory usage: 7.0 KB

In [21]:
cost_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     int64
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: int64(46)
memory usage: 7.0 KB

In [22]:
cost_by_cause['Years'] = pd.to_datetime(cost_by_cause['Years'], format='%Y')

In [23]:
cost_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     int64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     int64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     int64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     int64
 34  Overall Exposure                         19 non-null     int64
 35  1 & 2 Fam Explosure                      19 non-null     int64
 36  Multi Fam Exposure                       19 non-null     int64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     int64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), int64(45)
memory usage: 7.0 KB

### 4. Cleaning the data

In the death_by_cause dataframe, there are a lot of less than 3 values (they're entered like this '<3') which means that the organization collecting the data is sure that there is a low value of deaths. also because these are estimates, it can also mean that they're not sure what the exact total it. I also plan to focus on whats impacting people more, so I plan to remove those '<3' values. This should also make it easier to change the dtype from object to float which helps when I'm trying to look at the data. To do this, I'm changing all the '<3' values with NaN and making them a float.

In [24]:
death_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       19 non-null     object
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     19 non-null     object
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                19 non-null     object
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        19 non-null     object
 34  Overall Exposure                         19 non-null     object
 35  1 & 2 Fam Explosure                      19 non-null     object
 36  Multi Fam Exposure                       19 non-null     object
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          19 non-null     object
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), int64(37), object(8)
memory usage: 7.0+ KB

In [25]:
death_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003-01-01,265,220,40,130,130,<3,500,320,120,...,<3,100,95,5,440,365,55,215,205,5
1,2004-01-01,255,220,35,60,45,5,505,380,95,...,<3,155,105,25,430,350,60,195,170,25
2,2005-01-01,350,280,55,55,30,20,510,350,120,...,15,120,90,30,410,370,30,205,160,40
3,2006-01-01,250,175,50,80,75,10,485,360,90,...,10,90,65,20,365,310,35,165,120,35
4,2007-01-01,310,265,35,55,50,<3,470,340,100,...,<3,120,115,5,380,325,50,240,205,35
5,2008-01-01,310,245,55,45,40,<3,390,275,90,...,<3,90,70,10,430,370,50,265,220,40
6,2009-01-01,265,210,25,45,35,10,360,275,70,...,<3,115,100,5,410,320,75,240,205,20
7,2010-01-01,260,215,40,60,50,10,350,240,85,...,5,125,120,10,435,385,45,230,200,25
8,2011-01-01,240,200,20,30,20,5,305,230,65,...,<3,90,85,5,360,290,55,350,300,25
9,2012-01-01,320,285,40,45,25,15,330,240,80,...,<3,40,15,15,295,245,35,285,245,35
10,2013-01-01,320,240,40,50,35,5,320,240,70,...,10,45,35,5,465,395,45,275,255,25
11,2014-01-01,235,205,20,20,20,<3,325,225,80,...,5,30,25,<3,450,405,35,305,245,40
12,2015-01-01,290,230,55,25,25,<3,320,220,85,...,5,50,50,<3,440,365,60,365,300,50
13,2016-01-01,260,220,35,35,35,<3,375,285,85,...,5,45,45,5,480,435,25,405,325,55
14,2017-01-01,370,305,55,35,35,<3,300,205,75,...,5,75,60,10,435,380,30,355,295,60
15,2018-01-01,255,200,45,20,5,15,390,285,80,...,20,65,55,10,545,470,45,375,320,45
16,2019-01-01,265,220,25,20,20,<3,320,220,65,...,5,75,60,10,585,510,35,470,405,50
17,2020-01-01,185,150,25,10,10,<3,330,240,75,...,<3,85,60,10,500,410,60,505,445,40
18,2021-01-01,275,185,55,10,5,5,275,205,55,...,10,95,55,30,575,465,60,470,400,55

In [26]:
# if the cell'Multi Fam Playing with Heat Source' cell is '<3', change that cell to NaN
death_by_cause.loc[
    death_by_cause['Multi Fam Playing with Heat Source'] == '<3', 'Multi Fam Playing with Heat Source'
] = np.nan

In [27]:
death_by_cause.loc[
    death_by_cause['Multi Fam Appliances'] == '<3', 'Multi Fam Appliances'
] = np.nan

In [28]:
death_by_cause.loc[
    death_by_cause['Multi Fam Other Equipment'] == '<3', 'Multi Fam Other Equipment'
] = np.nan

In [29]:
death_by_cause.loc[
    death_by_cause['Multi Fam Natural'] == '<3', 'Multi Fam Natural'
] = np.nan

In [30]:
death_by_cause.loc[
    death_by_cause['Overall Exposure'] == '<3', 'Overall Exposure'
] = np.nan

In [31]:
death_by_cause.loc[
    death_by_cause['1 & 2 Fam Explosure'] == '<3', '1 & 2 Fam Explosure'
] = np.nan

In [32]:
death_by_cause.loc[
    death_by_cause['Multi Fam Exposure'] == '<3', 'Multi Fam Exposure'
] = np.nan

In [33]:
death_by_cause.loc[
    death_by_cause['Multi Fam Equipment Malfunction'] == '<3', 'Multi Fam Equipment Malfunction'
] = np.nan

In [34]:
# convert column to float
death_by_cause['Multi Fam Playing with Heat Source'] = death_by_cause['Multi Fam Playing with Heat Source'].astype(float)

In [35]:
death_by_cause['Multi Fam Appliances'] = death_by_cause['Multi Fam Appliances'].astype(float)

In [36]:
death_by_cause['Multi Fam Other Equipment'] = death_by_cause['Multi Fam Other Equipment'].astype(float)

In [37]:
death_by_cause['Multi Fam Natural'] = death_by_cause['Multi Fam Natural'].astype(float)

In [38]:
death_by_cause['Overall Exposure'] = death_by_cause['Overall Exposure'].astype(float)

In [39]:
death_by_cause['1 & 2 Fam Explosure'] = death_by_cause['1 & 2 Fam Explosure'].astype(float)

In [40]:
death_by_cause['Multi Fam Exposure'] = death_by_cause['Multi Fam Exposure'].astype(float)

In [41]:
death_by_cause['Multi Fam Equipment Malfunction'] = death_by_cause['Multi Fam Equipment Malfunction'].astype(float)

In [42]:
# checking that the values are now NaN
death_by_cause[['Multi Fam Playing with Heat Source']]

    Multi Fam Playing with Heat Source
0                                  NaN
1                                  5.0
2                                 20.0
3                                 10.0
4                                  NaN
5                                  NaN
6                                 10.0
7                                 10.0
8                                  5.0
9                                 15.0
10                                 5.0
11                                 NaN
12                                 NaN
13                                 NaN
14                                 NaN
15                                15.0
16                                 NaN
17                                 NaN
18                                 5.0

In [43]:
death_by_cause[['Multi Fam Appliances']]

    Multi Fam Appliances
0                   10.0
1                   10.0
2                    5.0
3                    NaN
4                    NaN
5                   10.0
6                   10.0
7                   15.0
8                   15.0
9                   10.0
10                   5.0
11                  10.0
12                  10.0
13                  10.0
14                  15.0
15                  20.0
16                   NaN
17                  25.0
18                   5.0

In [44]:
death_by_cause[['Multi Fam Other Equipment']]

    Multi Fam Other Equipment
0                         NaN
1                         NaN
2                         NaN
3                        10.0
4                        25.0
5                         5.0
6                         5.0
7                         5.0
8                         5.0
9                         5.0
10                        NaN
11                        5.0
12                        NaN
13                        5.0
14                        NaN
15                       10.0
16                        5.0
17                        5.0
18                       10.0

In [45]:
death_by_cause[['Multi Fam Natural']]

    Multi Fam Natural
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 5.0
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                5.0
16                NaN
17                NaN
18                NaN

In [46]:
death_by_cause[['Overall Exposure']]

    Overall Exposure
0                NaN
1               25.0
2               20.0
3               15.0
4               35.0
5               10.0
6                5.0
7               30.0
8               20.0
9               15.0
10              35.0
11              25.0
12              40.0
13              50.0
14              35.0
15              55.0
16              55.0
17              50.0
18              60.0

In [47]:
death_by_cause[['1 & 2 Fam Explosure']]

    1 & 2 Fam Explosure
0                   NaN
1                  25.0
2                   5.0
3                   5.0
4                  35.0
5                  10.0
6                   5.0
7                  15.0
8                  20.0
9                  15.0
10                 25.0
11                 25.0
12                 35.0
13                 25.0
14                 30.0
15                 30.0
16                 40.0
17                 35.0
18                 50.0

In [48]:
death_by_cause[['Multi Fam Exposure']]

    Multi Fam Exposure
0                  NaN
1                  NaN
2                 15.0
3                 10.0
4                  NaN
5                  NaN
6                  NaN
7                  5.0
8                  NaN
9                  NaN
10                10.0
11                 5.0
12                 5.0
13                 5.0
14                 5.0
15                20.0
16                 5.0
17                 NaN
18                10.0

In [49]:
death_by_cause[['Multi Fam Equipment Malfunction']]

    Multi Fam Equipment Malfunction
0                               5.0
1                              25.0
2                              30.0
3                              20.0
4                               5.0
5                              10.0
6                               5.0
7                              10.0
8                               5.0
9                              15.0
10                              5.0
11                              NaN
12                              NaN
13                              5.0
14                             10.0
15                             10.0
16                             10.0
17                             10.0
18                             30.0

In [50]:
# checking that the dtype has changed
death_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       10 non-null     float64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     16 non-null     float64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                13 non-null     float64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        2 non-null      float64
 34  Overall Exposure                         18 non-null     float64
 35  1 & 2 Fam Explosure                      18 non-null     float64
 36  Multi Fam Exposure                       11 non-null     float64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          17 non-null     float64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), float64(8), int64(37)
memory usage: 7.0 KB

In [51]:
death_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003-01-01,265,220,40,130,130,NaN,500,320,120,...,NaN,100,95,5.0,440,365,55,215,205,5
1,2004-01-01,255,220,35,60,45,5.0,505,380,95,...,NaN,155,105,25.0,430,350,60,195,170,25
2,2005-01-01,350,280,55,55,30,20.0,510,350,120,...,15.0,120,90,30.0,410,370,30,205,160,40
3,2006-01-01,250,175,50,80,75,10.0,485,360,90,...,10.0,90,65,20.0,365,310,35,165,120,35
4,2007-01-01,310,265,35,55,50,NaN,470,340,100,...,NaN,120,115,5.0,380,325,50,240,205,35
5,2008-01-01,310,245,55,45,40,NaN,390,275,90,...,NaN,90,70,10.0,430,370,50,265,220,40
6,2009-01-01,265,210,25,45,35,10.0,360,275,70,...,NaN,115,100,5.0,410,320,75,240,205,20
7,2010-01-01,260,215,40,60,50,10.0,350,240,85,...,5.0,125,120,10.0,435,385,45,230,200,25
8,2011-01-01,240,200,20,30,20,5.0,305,230,65,...,NaN,90,85,5.0,360,290,55,350,300,25
9,2012-01-01,320,285,40,45,25,15.0,330,240,80,...,NaN,40,15,15.0,295,245,35,285,245,35
10,2013-01-01,320,240,40,50,35,5.0,320,240,70,...,10.0,45,35,5.0,465,395,45,275,255,25
11,2014-01-01,235,205,20,20,20,NaN,325,225,80,...,5.0,30,25,NaN,450,405,35,305,245,40
12,2015-01-01,290,230,55,25,25,NaN,320,220,85,...,5.0,50,50,NaN,440,365,60,365,300,50
13,2016-01-01,260,220,35,35,35,NaN,375,285,85,...,5.0,45,45,5.0,480,435,25,405,325,55
14,2017-01-01,370,305,55,35,35,NaN,300,205,75,...,5.0,75,60,10.0,435,380,30,355,295,60
15,2018-01-01,255,200,45,20,5,15.0,390,285,80,...,20.0,65,55,10.0,545,470,45,375,320,45
16,2019-01-01,265,220,25,20,20,NaN,320,220,65,...,5.0,75,60,10.0,585,510,35,470,405,50
17,2020-01-01,185,150,25,10,10,NaN,330,240,75,...,NaN,85,60,10.0,500,410,60,505,445,40
18,2021-01-01,275,185,55,10,5,5.0,275,205,55,...,10.0,95,55,30.0,575,465,60,470,400,55

### 5. Figuring out which columns I want to focus on

So there are a lot of different data frames, but I want to focus on what fire causes are affecting residential areas most, so I'm getting the sum of all the columns to help figure out which columns I want to focus on.

In [53]:
fire_causes_totals = fire_causes.sum(numeric_only=True).to_frame().reset_index()
fire_causes_totals.columns = ['category', 'annual_totals']
fire_causes_totals

                                   category  annual_totals
0                       Overall Intentional         324200
1                     1 & 2 Fam Intentional         324200
2                     Multi Fam Intentional          51900
3          Overall Playing with Heat Source          40700
4         1 &2 Fam Playing with Heat Source          31400
5        Multi Fam Playing with Heat Source           8200
6                           Overall Smoking         155000
7                         1 & 2 Fam Smoking          98500
8                         Mulit Fam Smoking          46700
9                          Overall Heating          863800
10                        1 & 2 Fam Heating         722800
11                        Multi Fam Heating         113500
12                          Overall Cooking        3323300
13                        1 & 2 Fam Cooking        1552700
14                        Multi Fam Cooking        1421300
15           Overall Electrical Malfunction         486000
16         1 & 2 Fam Electrical Malfunction         417300
17         Multi Fam Electrical Malfunction          53900
18                      Overall Appliances          211600
19                     1 & 2 Fam Appliances         160200
20                     Multi Fam Appliances          40200
21                      Overall Open Flame          347000
22                        1 & 2 Open Flame          274700
23                     Multi Fam Open Flame          60000
24                       Overall Other Heat         261400
25                     1 & 2 Fam Other Heat         197300
26                     Multi Fam Other Heat          49900
27                  Overall Other Equipment          88500
28                1 & 2 Fam Other Equipment          51500
29                Multi Fam Other Equipment          29600
30                          Overall Natural         121500
31                        1 & 2 Fam Natural         109000
32                        Multi Fam Natural           8400
33                         Overall Exposure         143600
34                      1 & 2 Fam Explosure         117700
35                       Multi Fam Exposure          22900
36            Overall Equipment Malfunction         192700
37          1 & 2 Fam Equipment Malfunction         144900
38          Multi Fam Equipment Malfunction          38800
39    Overall Other Unintentional, Careless         465300
40  1 & 2 Fam Other Unintentional, Careless         371900
41  Multi Fam Other Unintentional, Careless          69000
42        Overall Cause Under Investigation          76800
43      1 & 2 Fam Cause Under Investigation          61900
44      Multi Fam Cause Under Investigation          11500
45                       Total Residential*        7101500

Based on this summary table, I plan to focus on 5 different columns: 3 for 1 & 2 Family Home and 2 fo MultiFamily Homes. I plan to focus on Heating, Cooking and Electrical Malfunction for 1&2 Fam and Cooking and Heating for MultiFam. The sum values of these columns show that they are the most common reason for a fire to break out.

### 6. Exporting the cleaned up data frames

I'm exporting the cleaned up copies of the dataframes I worked on to csv files so that way we can analyze them right away in the next notebook without having to do all this over again.

In [54]:
prop_type_totals.to_csv('prop_type_totals_clean.csv', index=False)
fire_causes.to_csv('fire_causes_clean.csv', index=False)
death_by_cause.to_csv('death_by_cause_clean.csv', index=False)
injury_by_cause.to_csv('injury_by_cause_clean.csv', index=False)
cost_by_cause.to_csv('cost_by_cause_clean.csv', index=False)