### 1. Importing

In [1]:
import pandas as pd
import altair as alt

In [8]:
xls = pd.ExcelFile('residential-nonresidential-fire-loss-estimates-2003-2021_fixed.xlsx')
prop_type_totals = pd.read_excel(xls, 'Res Bldg Prop Typ Est 2003-2021')
fire_causes = pd.read_excel(xls, 'Res Bldg Fire Est by Cause')
death_by_cause = pd.read_excel(xls, 'Res Bld Fire Death Est by Cause')
injury_by_cause = pd.read_excel(xls, 'Res Bld Fire Inj Est by Cause')
cost_by_cause = pd.read_excel(xls, 'Res Bld Fire Dollr Est by Cause')

In [10]:
prop_type_totals.head()

,Years,Overall Res Building Fires,1 & 2 Family Fires,Multifamily Fires,Overall Deaths,1 & 2 Family Deaths,Multifamily Deaths,Overall Injuries,1 & 2 Family Injuries,Multifamily Injuries,Overall Dollars Los,1 & 2 Family Dollars Loss,Multifamily Dollars Loss
0,2003,381200,249400,108800,3000,2480,380,13425,9200,3650,8376800000,6603600000,1362200000
1,2004,389800,254600,111700,3050,2485,425,13650,9275,3775,8097100000,6227800000,1509500000
2,2005,376500,245900,107000,2895,2225,510,13375,8950,3800,9013900000,6929100000,1654400000
3,2006,392700,253800,113900,2490,1925,445,12550,8225,3725,8932300000,6960600000,1570900000
4,2007,390300,260700,104600,2765,2285,405,13525,9125,3875,9353500000,7520600000,1445700000

In [11]:
fire_causes.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation,Total Residential*
0,2003,17400,17400,3200,3500,2800,700,8900,5600,2700,...,16100,12200,3300,22000,17100,4000,2200,1800,400,381200
1,2004,17500,17500,3000,3100,2400,600,9000,5600,2800,...,16000,12000,3300,22300,17400,4000,2400,1900,400,389800
2,2005,18000,18000,3300,2900,2300,600,8700,5400,2600,...,15100,11100,3400,22500,17300,4100,2900,2200,500,376500
3,2006,18100,18100,3200,3200,2500,700,9700,6000,3100,...,14700,10800,3400,23400,18200,4100,3300,2500,600,392700
4,2007,19000,19000,3400,3100,2400,600,8900,5700,2700,...,15200,11400,3100,25400,20200,4000,3800,2900,700,390300

In [12]:
death_by_cause.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,265,220,40,130,130,<3,500,320,120,...,<3,100,95,5,440,365,55,215,205,5
1,2004,255,220,35,60,45,5,505,380,95,...,<3,155,105,25,430,350,60,195,170,25
2,2005,350,280,55,55,30,20,510,350,120,...,15,120,90,30,410,370,30,205,160,40
3,2006,250,175,50,80,75,10,485,360,90,...,10,90,65,20,365,310,35,165,120,35
4,2007,310,265,35,55,50,<3,470,340,100,...,<3,120,115,5,380,325,50,240,205,35

In [ ]:
injury_by_cause