### 1. Importing

In [64]:
import pandas as pd
import altair as alt
import numpy as np

In [8]:
xls = pd.ExcelFile('residential-nonresidential-fire-loss-estimates-2003-2021_fixed.xlsx')
prop_type_totals = pd.read_excel(xls, 'Res Bldg Prop Typ Est 2003-2021')
fire_causes = pd.read_excel(xls, 'Res Bldg Fire Est by Cause')
death_by_cause = pd.read_excel(xls, 'Res Bld Fire Death Est by Cause')
injury_by_cause = pd.read_excel(xls, 'Res Bld Fire Inj Est by Cause')
cost_by_cause = pd.read_excel(xls, 'Res Bld Fire Dollr Est by Cause')

### 2. Viewing the Data

So this first data frame is showing the overall totals of how many fires there were and the impacts of those fires, such as death, injuries and financial cost for 1 & 2 Family Homes as well as Multifamily Homes. It also shows the overall total as well. The next four data frames are expanding on those totals and breaking it down by the causes of the fires.

In [83]:
prop_type_totals.tail()

,Years,Overall Res Building Fires,1 & 2 Family Fires,Multifamily Fires,Overall Deaths,1 & 2 Family Deaths,Multifamily Deaths,Overall Injuries,1 & 2 Family Injuries,Multifamily Injuries,Overall Dollars Los,1 & 2 Family Dollars Loss,Multifamily Dollars Loss
14,2017-01-01,371500,233800,109600,2695,2200,385,10825,6650,3800,8619200000,6081200000,2191400000
15,2018-01-01,379600,237000,110200,2790,2220,440,11525,7175,3875,8842700000,6596300000,1811600000
16,2019-01-01,354400,220600,100300,2830,2240,375,12625,7950,3950,8338100000,6321400000,1454900000
17,2020-01-01,372000,227300,107800,2615,2095,345,11825,7400,3725,9008700000,6539000000,1804900000
18,2021-01-01,353500,215700,100500,2840,2235,405,11400,7300,3500,8855900000,6452300000,1808400000

In [11]:
fire_causes.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation,Total Residential*
0,2003,17400,17400,3200,3500,2800,700,8900,5600,2700,...,16100,12200,3300,22000,17100,4000,2200,1800,400,381200
1,2004,17500,17500,3000,3100,2400,600,9000,5600,2800,...,16000,12000,3300,22300,17400,4000,2400,1900,400,389800
2,2005,18000,18000,3300,2900,2300,600,8700,5400,2600,...,15100,11100,3400,22500,17300,4100,2900,2200,500,376500
3,2006,18100,18100,3200,3200,2500,700,9700,6000,3100,...,14700,10800,3400,23400,18200,4100,3300,2500,600,392700
4,2007,19000,19000,3400,3100,2400,600,8900,5700,2700,...,15200,11400,3100,25400,20200,4000,3800,2900,700,390300

In [12]:
death_by_cause.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,265,220,40,130,130,<3,500,320,120,...,<3,100,95,5,440,365,55,215,205,5
1,2004,255,220,35,60,45,5,505,380,95,...,<3,155,105,25,430,350,60,195,170,25
2,2005,350,280,55,55,30,20,510,350,120,...,15,120,90,30,410,370,30,205,160,40
3,2006,250,175,50,80,75,10,485,360,90,...,10,90,65,20,365,310,35,165,120,35
4,2007,310,265,35,55,50,<3,470,340,100,...,<3,120,115,5,380,325,50,240,205,35

In [13]:
injury_by_cause.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,875,570,255,500,405,95,1025,655,305,...,15,900,585,295,1550,1150,340,275,225,45
1,2004,850,625,215,500,345,135,1050,600,355,...,10,1150,815,270,1500,1070,390,325,240,75
2,2005,925,615,280,325,200,115,1025,505,405,...,20,1050,715,295,1500,1075,365,400,275,100
3,2006,750,440,255,425,315,110,1150,620,425,...,10,900,560,310,1350,930,355,375,255,95
4,2007,950,580,310,400,330,80,950,590,315,...,5,825,545,265,1500,1110,360,425,290,120

In [14]:
cost_by_cause.head()

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003,761200000,542300000,153100000,180200000,142600000,34200000,363700000,243000000,103000000,...,116500000,543000000,429800000,96300000,1140600000,962900000,138200000,252100000,220000000,26400000
1,2004,716600000,554900000,125500000,154600000,106900000,43700000,375800000,228500000,133500000,...,110100000,469600000,380800000,72100000,1114600000,848800000,209000000,293600000,214100000,74800000
2,2005,784600000,527700000,212000000,175700000,122100000,48700000,423600000,228900000,158400000,...,104100000,553900000,433000000,82800000,1145900000,967600000,148800000,451100000,313100000,101700000
3,2006,719900000,527100000,104200000,152300000,108400000,40500000,434000000,239200000,176100000,...,76700000,504800000,389200000,96600000,1204100000,963600000,194200000,405000000,293100000,95100000
4,2007,630800000,433400000,171000000,121900000,81900000,37400000,345800000,202000000,132000000,...,109700000,440600000,339300000,68400000,1130600000,930200000,144400000,357400000,233800000,110400000

### 3. Changing the dtypes of years into a datetime

In [ ]:
prop_type_totals.info()

In [33]:
prop_type_totals['Years'] = pd.to_datetime(prop_type_totals['Years'], format='%Y')

In [ ]:
prop_type_totals.info()

In [ ]:
fire_causes.info()

In [37]:
fire_causes['Years'] = pd.to_datetime(fire_causes['Years'], format='%Y')

In [ ]:
fire_causes.info()

In [ ]:
death_by_cause.info()

In [40]:
death_by_cause['Years'] = pd.to_datetime(death_by_cause['Years'], format='%Y')

In [ ]:
death_by_cause.info()

In [ ]:
injury_by_cause.info()

In [44]:
injury_by_cause['Years'] = pd.to_datetime(injury_by_cause['Years'], format='%Y')

In [ ]:
injury_by_cause.info()

In [ ]:
cost_by_cause.info()

In [47]:
cost_by_cause['Years'] = pd.to_datetime(cost_by_cause['Years'], format='%Y')

In [ ]:
cost_by_cause.info()

### 4. Cleaning the data

In the death_by_cause dataframe, there are a lot of less than 3 values (they're entered like this '<3') which means that the organization collecting the data is sure that there is a low value of deaths. also because these are estimates, it can also mean that they're not sure what the exact total it. I also plan to focus on whats impacting people more, so I plan to remove those '<3' values. this should also make it easier to change the dtype from object to float which helps when I'm trying to look at the data. I'm changing all the '<3' values with NaN and making them a float

In [ ]:
death_by_cause.info()

In [ ]:
death_by_cause

In [78]:
# if the cell'Multi Fam Playing with Heat Source' cell is '<3', change that cell to NaN
death_by_cause.loc[
    death_by_cause['Multi Fam Playing with Heat Source'] == '<3', 'Multi Fam Playing with Heat Source'
] = np.nan

In [87]:
death_by_cause.loc[
    death_by_cause['Multi Fam Appliances'] == '<3', 'Multi Fam Appliances'
] = np.nan

In [93]:
death_by_cause.loc[
    death_by_cause['Multi Fam Other Equipment'] == '<3', 'Multi Fam Other Equipment'
] = np.nan

In [98]:
death_by_cause.loc[
    death_by_cause['Multi Fam Natural'] == '<3', 'Multi Fam Natural'
] = np.nan

In [100]:
death_by_cause.loc[
    death_by_cause['Overall Exposure'] == '<3', 'Overall Exposure'
] = np.nan

In [103]:
death_by_cause.loc[
    death_by_cause['1 & 2 Fam Explosure'] == '<3', '1 & 2 Fam Explosure'
] = np.nan

In [104]:
death_by_cause.loc[
    death_by_cause['Multi Fam Exposure'] == '<3', 'Multi Fam Exposure'
] = np.nan

In [105]:
death_by_cause.loc[
    death_by_cause['Multi Fam Equipment Malfunction'] == '<3', 'Multi Fam Equipment Malfunction'
] = np.nan

In [88]:
# convert column to float
death_by_cause['Multi Fam Playing with Heat Source'] = death_by_cause['Multi Fam Playing with Heat Source'].astype(float)

In [89]:
death_by_cause['Multi Fam Appliances'] = death_by_cause['Multi Fam Appliances'].astype(float)

In [94]:
death_by_cause['Multi Fam Other Equipment'] = death_by_cause['Multi Fam Other Equipment'].astype(float)

In [101]:
death_by_cause['Multi Fam Natural'] = death_by_cause['Multi Fam Natural'].astype(float)

In [102]:
death_by_cause['Overall Exposure'] = death_by_cause['Overall Exposure'].astype(float)

In [106]:
death_by_cause['1 & 2 Fam Explosure'] = death_by_cause['1 & 2 Fam Explosure'].astype(float)

In [107]:
death_by_cause['Multi Fam Exposure'] = death_by_cause['Multi Fam Exposure'].astype(float)

In [108]:
death_by_cause['Multi Fam Equipment Malfunction'] = death_by_cause['Multi Fam Equipment Malfunction'].astype(float)

In [ ]:
# checking that the values are now NaN
death_by_cause[['Multi Fam Playing with Heat Source']]

In [ ]:
death_by_cause[['Multi Fam Appliances']]

In [ ]:
death_by_cause[['Multi Fam Other Equipment']]

In [ ]:
death_by_cause[['Multi Fam Natural']]

In [ ]:
death_by_cause[['Overall Exposure']]

In [ ]:
death_by_cause[['1 & 2 Fam Explosure']]

In [ ]:
death_by_cause[['Multi Fam Exposure']]

In [ ]:
death_by_cause[['Multi Fam Equipment Malfunction']]

In [114]:
# checking that the dtype has changed
death_by_cause.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Years                                    19 non-null     datetime64[ns]
 1   Overall Intentional                      19 non-null     int64
 2   1 & 2 Fam Intentional                    19 non-null     int64
 3   Multi Fam Intentional                    19 non-null     int64
 4   Overall Playing with Heat Source         19 non-null     int64
 5   1 &2 Fam Playing with Heat Source        19 non-null     int64
 6   Multi Fam Playing with Heat Source       10 non-null     float64
 7   Overall Smoking                          19 non-null     int64
 8   1 & 2 Fam Smoking                        19 non-null     int64
 9   Mulit Fam Smoking                        19 non-null     int64
 10  Overall Heating                          19 non-null     int64
 11  1 & 2 Fam Heating                        19 non-null     int64
 12  Multi Fam Heating                        19 non-null     int64
 13  Overall Cooking                          19 non-null     int64
 14  1 & 2 Fam Cooking                        19 non-null     int64
 15  Multi Fam Cooking                        19 non-null     int64
 16  Overall Electrical Malfunction           19 non-null     int64
 17  1 & 2 Fam Electrical Malfunction         19 non-null     int64
 18  Multi Fam Electrical Malfunction         19 non-null     int64
 19  Overall Appliances                       19 non-null     int64
 20  1 & 2 Fam Appliances                     19 non-null     int64
 21  Multi Fam Appliances                     16 non-null     float64
 22  Overall Open Flame                       19 non-null     int64
 23  1 & 2 Open Flame                         19 non-null     int64
 24  Multi Fam Open Flame                     19 non-null     int64
 25  Overall Other Heat                       19 non-null     int64
 26  1 & 2 Fam Other Heat                     19 non-null     int64
 27  Multi Fam Other Heat                     19 non-null     int64
 28  Overall Other Equipment                  19 non-null     int64
 29  1 & 2 Fam Other Equipment                19 non-null     int64
 30  Multi Fam Other Equipment                13 non-null     float64
 31  Overall Natural                          19 non-null     int64
 32  1 & 2 Fam Natural                        19 non-null     int64
 33  Multi Fam Natural                        2 non-null      float64
 34  Overall Exposure                         18 non-null     float64
 35  1 & 2 Fam Explosure                      18 non-null     float64
 36  Multi Fam Exposure                       11 non-null     float64
 37  Overall Equipment Malfunction            19 non-null     int64
 38  1 & 2 Fam Equipment Malfunction          19 non-null     int64
 39  Multi Fam Equipment Malfunction          17 non-null     float64
 40  Overall Other Unintentional, Careless    19 non-null     int64
 41  1 & 2 Fam Other Unintentional, Careless  19 non-null     int64
 42  Multi Fam Other Unintentional, Careless  19 non-null     int64
 43  Overall Cause Under Investigation        19 non-null     int64
 44  1 & 2 Fam Cause Under Investigation      19 non-null     int64
 45  Multi Fam Cause Under Investigation      19 non-null     int64
dtypes: datetime64[ns](1), float64(8), int64(37)
memory usage: 7.0 KB

In [115]:
death_by_cause

,Years,Overall Intentional,1 & 2 Fam Intentional,Multi Fam Intentional,Overall Playing with Heat Source,1 &2 Fam Playing with Heat Source,Multi Fam Playing with Heat Source,Overall Smoking,1 & 2 Fam Smoking,Mulit Fam Smoking,...,Multi Fam Exposure,Overall Equipment Malfunction,1 & 2 Fam Equipment Malfunction,Multi Fam Equipment Malfunction,"Overall Other Unintentional, Careless","1 & 2 Fam Other Unintentional, Careless","Multi Fam Other Unintentional, Careless",Overall Cause Under Investigation,1 & 2 Fam Cause Under Investigation,Multi Fam Cause Under Investigation
0,2003-01-01,265,220,40,130,130,NaN,500,320,120,...,NaN,100,95,5.0,440,365,55,215,205,5
1,2004-01-01,255,220,35,60,45,5.0,505,380,95,...,NaN,155,105,25.0,430,350,60,195,170,25
2,2005-01-01,350,280,55,55,30,20.0,510,350,120,...,15.0,120,90,30.0,410,370,30,205,160,40
3,2006-01-01,250,175,50,80,75,10.0,485,360,90,...,10.0,90,65,20.0,365,310,35,165,120,35
4,2007-01-01,310,265,35,55,50,NaN,470,340,100,...,NaN,120,115,5.0,380,325,50,240,205,35
5,2008-01-01,310,245,55,45,40,NaN,390,275,90,...,NaN,90,70,10.0,430,370,50,265,220,40
6,2009-01-01,265,210,25,45,35,10.0,360,275,70,...,NaN,115,100,5.0,410,320,75,240,205,20
7,2010-01-01,260,215,40,60,50,10.0,350,240,85,...,5.0,125,120,10.0,435,385,45,230,200,25
8,2011-01-01,240,200,20,30,20,5.0,305,230,65,...,NaN,90,85,5.0,360,290,55,350,300,25
9,2012-01-01,320,285,40,45,25,15.0,330,240,80,...,NaN,40,15,15.0,295,245,35,285,245,35
10,2013-01-01,320,240,40,50,35,5.0,320,240,70,...,10.0,45,35,5.0,465,395,45,275,255,25
11,2014-01-01,235,205,20,20,20,NaN,325,225,80,...,5.0,30,25,NaN,450,405,35,305,245,40
12,2015-01-01,290,230,55,25,25,NaN,320,220,85,...,5.0,50,50,NaN,440,365,60,365,300,50
13,2016-01-01,260,220,35,35,35,NaN,375,285,85,...,5.0,45,45,5.0,480,435,25,405,325,55
14,2017-01-01,370,305,55,35,35,NaN,300,205,75,...,5.0,75,60,10.0,435,380,30,355,295,60
15,2018-01-01,255,200,45,20,5,15.0,390,285,80,...,20.0,65,55,10.0,545,470,45,375,320,45
16,2019-01-01,265,220,25,20,20,NaN,320,220,65,...,5.0,75,60,10.0,585,510,35,470,405,50
17,2020-01-01,185,150,25,10,10,NaN,330,240,75,...,NaN,85,60,10.0,500,410,60,505,445,40
18,2021-01-01,275,185,55,10,5,5.0,275,205,55,...,10.0,95,55,30.0,575,465,60,470,400,55

### 5. Focusing on the columns I'm interested in